<ul class="nav nav-pills">
  
  <li class="active"><a href="#">Emojis</a></li>
  <li><a href="#">Signin</a></li>
</ul>


<h2>What emojis do you want to see?</h2>

<uL>
  <% @emojis.each do |emoji| %>

  <li><h3><%= emoji.name %> <%= emoji.category %></h3></li>

  <% end %> 
</uL>
